

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.08); */
    /* background: rgb(255, 255, 255); */
    box-shadow: 0px 0px 10px 2px rgba(35, 86, 255, 0.13);
    border-radius: 5px;
}
.count-box:hover{
    background-color: rgba(0, 255, 136, 0.03);
    /* background-color: rgba(255, 238, 0, 0.03); */
    /* background-color: rgba(255, 0, 0, 0.03); */
}

.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: rgba(255, 255, 255, 0.01);
    padding: 12px;
    color: #18d26e;
    border-radius: 50px;
    line-height: 0;
    box-shadow: 0px 0px 10px 2px rgba(35, 86, 255, 0.13);
}
.count-box:hover i{
    background-color: white;
    border: 1px solid rgb(47, 255, 0, 0.3);
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    /* color: #fff; */
    color: #000;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #000;
}

.counts ol{
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
li{
    text-decoration: none;
}